<% if current_user.id == user.id %>
  <div class="row">
    <h1>User info</h1>
    <%= attachment_image_tag current_user, :profile_image_id, :fill, 60, 60, format:'jpeg', class:"pull-left profile-img", fallback:"no_image.jpg" %>
    <table class="table">
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>Introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </table>
      <%= link_to(edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog") do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <% end %>
  </div>
  <% else %>
  <div class="row">
    <h1>UserInfo</h1>
    <%= attachment_image_tag user, :profile_image_id, :fill, 60, 60, format:'jpeg', class:"img-circle pull-left profile-img", fallback:"no_image.jpg" %>
    <table class="table">
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>Introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </table>
  </div>
  <% end %>